$white: #fefefe;
$beige: #f3f3f1;
$black: #262625;
$purple-light: #ebedff;

$small-bold: normal normal bold 0.75rem/1.2rem "Inter";
$small-semibold: normal normal 600 0.75rem/1.2rem "Inter";
$normal-semibold: normal normal 600 2.5rem/3rem "Inter";
$big-semibold: normal normal 600 4.5rem/5.2rem "Inter";
$bigger-semibold: normal normal 600 7.2rem/7.8rem "Inter";
$slider-text: normal normal bold 10.8rem/11.5rem "Inter";

$padding: 20px;
